# Ignore Django migrations
/migrations/*.pyc
/migrations/__pycache__/
**/migrations/*.pyc
**/migrations/__pycache__/
# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class
db.sqlite3
*.log

Cake_website\main\migrations
main\migrations
Cake_website/main/migrations
main/migrations
