
/* Header styles */



/* End of Header Styles */

/* Popular cakes styles */

.popular-container{
      display: flex;
      justify-content: center;
}

.popular-cakes{
      max-width: 100rem;
      height: 50rem auto;
      margin: 0 auto;
      padding: 2rem 2rem;
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 2rem;
}

.popular-cake-card{
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.popular-cake-image{
      max-width: 100%;
      height: 30rem;
      object-fit: cover;
}

/* End of Popular */

/* Start of Latest Cakes */

.latest-container{
      display: flex;
      justify-content: center;
}

.latest-cakes{
      max-width: 100rem;
      height: 50rem auto;
      margin: 0 auto;
      padding: 2rem 2rem;
      display: flex;
      text-align: center;
      justify-content: center;
      gap: 2rem;
}

.latest-cake-card{
      display: flex;
      flex-direction: column;
      justify-content: center;
}

.latest-cake-image{
      max-width: 100%;
      height: 30rem;
      object-fit: cover;
}

/* End of Latest Cakes */