{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}{% endblock title %}</title>
      
      <link rel="stylesheet" href={% static 'style.css' %}>
      <link rel="stylesheet" href={% static "include/header.css" %}>
      <link rel="stylesheet" href={% static "include/footer.css" %}>
      
      {% block css_files %}
      {% endblock css_files %}
</head>
<body>
      {% include "main/includes/header.html" %}
      <div class="container">
      {% block content %}
      
      
      {% endblock content %}
      {% include "main/includes/footer.html" %}
      </div>

</body>
</html>