{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'main/home.css' %}">
{% endblock css_files %}

{% block content %}
<div class="container">
      



      <div class="popular-container">
            <h2>Popular Cakes</h2>
             <div class="popular-cakes">
                  {% for cake in popular_cakes %}
                        <div class="popular-cake-card">
                              <a href="{% url "cake_info" cake.slug %}">
                                    <img class="popular-cake-image" src="{{ cake.image.url }}" alt="{{ cake.name }}">
                                    <h3>{{ cake.name }}</h3>
                                    <p>{{ cake.short_description }}</p>
                                    <p>Price: {{ cake.price }}€</p>
                              </a>
                              <a href="">Order Now</a>
                        </div>
                  {% endfor %} 
            </div>
      </div>

      <div class="search-bar-container">
           <form action="{% url 'search' %}" method="get">
                  <input type="text" name="query" placeholder="Search for cakes..." required>
                  <button type="submit">Search</button>
           </form> 
      </div>


      <div class="flavous-container">
            <h2>Flavours</h2>
            <div class="flavours-cards">
                  {% for flavour in flavours %}
                        <div class="flavour-card">
                              
                              <a href="{% url "cake_by_flavour" flavour.slug%}">{{ flavour.flavour_name }}</a>
                        </div>
                  {% endfor %}
            </div>
      </div>

      <div class="latest-container">
            <h2>Latest Cakes</h2>
            <div class="latest-cakes">
                  {% for latest_cake in latest_cakes %}
                  <div class="latest-cake-card">
                        <img class="latest-cake-image" src="{{ latest_cake.image.url }}" alt="{{ latest_cake.name }}">
                        <h3>{{ latest_cake.name }}</h3>
                        <p>{{ latest_cake.short_description }}</p>
                        <p>Price: {{ latest_cake.price }}€</p>
                  </div>
                    
                  {% endfor %}
            </div>
      </div>
</div>
{% endblock content %}