{% extends 'base.html' %}
{% load static %}

{% block title %}
  Payment Success
{% endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static 'main/payment_success.css' %}" />
{% endblock %}

{% block content %}
<div class="container">
      <div class="success-container">
        <div class="success-icon">✓</div>
        <h3>Payment Successful</h3>
        <p class="text-muted">
          Thank you for your donation, {{ customer_name }}! Your payment has been processed successfully.
        </p>
        <a href="/" class="btn btn-home">Go to Homepage</a>
      </div>
    </div>
{% endfor %}


{% endblock %}