{% load static %}

{% block content %}
<hr>

<div class="footer-container">
    <div class="logo">
        <img src="{% static "main/images/Logo.jpg" %}" alt="Company Logo">
    </div>
    <div class="social-images">
        <a href="https://www.instagram.com/edacakes/" target="_blank"><img src="{% static "main/images/instagram.png" %}" alt="Instagram"></a>
        <a href="https://www.facebook.com/edacakes" target="_blank"><img src="{% static "main/images/facebook.png" %}" alt="Facebook"></a>
    </div>
</div>

{% endblock content %}
