

{% block content %}
<div class="container">
  <header class="header-container">
    <div class="nav-container">
          <div class="navdiv">
                <h1>Eda Cakes</h1>
          </div>
          <nav class="navbar">
                <ul class="nav-list">
                      <li><a href="#">Contact</a></li>
                      <li><a href="#">Cart</a></li>
                      <li><a href="#">About us</a></li>
                </ul>
          </nav>
    </div>
  </header>

  <hr class="line" >
</div>


{% endblock content %}

